services:
  backend:
    build:
      context: ./backend
    restart: always
    environment:
      - PORT=5000
      - MONGODB_URL=mongodb://mongo:27017/lebaba_ecommerce
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    restart: always

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
